
  
  <!-- Photo Grid -->
  <div class="row"> 
    <div class="column">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
    </div>  
    <div class="column">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
      <img src="assets/img1.jpg" style="width:100%">
    </div>
    
  </div>